body{
    background-color: rgb(114, 45, 14);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.quote{
    background-color: antiquewhite;
    font-size: 23px;
    padding: 40px 10px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    width: 70%;
}